[Desktop Entry]
Type=Application
Name=Penguin Mail
GenericName=Mail
Comment=Read and write Gmail from all your accounts
Exec=penguin-mail %u
Icon=dev.penguinmail.PenguinMail
Terminal=false
Categories=Network;Email;GTK;GNOME;
Keywords=mail;email;gmail;inbox;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
StartupWMClass=dev.penguinmail.PenguinMail
Actions=compose;

[Desktop Action compose]
Name=New Message
Exec=penguin-mail --compose
