[Desktop Entry]
Type=Application
Name=mailrs
GenericName=Mail
Comment=Read and write Gmail from all your accounts
Exec=mailrs %u
Icon=dev.mailrs.Mailrs
Terminal=false
Categories=Network;Email;GTK;GNOME;
Keywords=mail;email;gmail;inbox;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
StartupWMClass=dev.mailrs.Mailrs
Actions=compose;

[Desktop Action compose]
Name=New Message
Exec=mailrs --compose
